* {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color:darkkhaki;
    font-family: 'Abril Fatface', cursive;
}

h2 { 
    color:chocolate;
    font-family: 'Abril Fatface', cursive;
}

h3 {
    color: peru;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

h4 {
    color: lime;
    font-family: 'Oswald', sans-serif;
}

h5 {
    color: olive;
    
}

h6 {
    color: wheat;
    font-size: 1.5em;
    border: 1px red solid;
    margin: 0;
}

p {
    color: aqua;
    font-size: 1em;
}



.row {

}

.col {
    float: left;
    padding: 15px;
    border: 1px solid red;
    width:100%;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}